.nav{
   background-color: #070f31;
   color: #ea9bf2;
   display: grid;
   grid-template-columns: 30% 40% 30%;
   grid-template-rows: 10vh;
   flex-direction: row;
   align-items: center;
   font-family: 'Tangerine', cursive;
}
.navTitle{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 5vw;
    font-size: xx-large;
}
.message{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 8vw;
    font-size: xx-large;
}
.scores{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 2vw;
    font-size: xx-large;
}